.menu-bar{
   background-color: antiquewhite;
}
.menu-bar nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#movies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
#movie-details {
    width: 25%;
    height: 25%;
    padding: 5px;
    box-sizing: border-box;
    background-color: hsla(203, 61%, 79%, 1);
    
}

#movie-poster{
    width: 100%;
    height: 200px;
}
h3{
    color: white;
    font-size: 18px;
}